@mixin jumbotron{
    @media screen and (min-width: $desktop-max){
        @content;
    }
}
@mixin desktop{
    @media screen and (min-width: $tablet-max){
        @content;
    }
}
@mixin tablet{
    @media screen and (min-width: $mobile-max){
        @content;
    }
}
@mixin mobile{
    @media screen and (max-width: $mobile-max){
        @content;
    }
}



@mixin unlink{
    color: inherit;
    text-decoration: none;
}



@mixin category_tag{
    border: 1px solid $text-color-dark;
    border-radius: 30px;
    padding: 5px 15px;
    margin: 0 5px;
    text-align: center;
}
