@mixin outer-base{
    box-sizing: border-box;
    padding: 5px;
    @include desktop{
        padding: 15px;
    }
}


@mixin outer-limit{
    margin: auto;
    width: 100%;
    max-width: $desktop-max;
}


@mixin outer-nav{
    box-sizing: border-box;
    padding: 10px;
    @include desktop{
        padding: 0;
    }
}
