// フォント設定
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Quicksand:wght@300&display=swap');

///////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////
@mixin text-base{
    font-family: 'Quicksand', sans-serif, 'M PLUS Rounded 1c', sans-serif;
    line-height: 1.2;
}

@mixin text-hover-dark{
    @include desktop{
        transition: .5s;
        &:hover{color: $text-color-dark-hover;}
    }
}
@mixin text-hover-light{
    @include desktop{
        transition: .5s;
        &:hover{color: $text-color-light-hover;}
    }
}





// タイポグラフィ
// aとかpとかに直接つけると考えて作った

@mixin header-title{
    @include text-base;
    @include text-hover-dark;
    color: $text-color-dark;
    font-size: 20px;
    @include tablet{
        font-size: 30px;
    }
    @include desktop{
        font-size: 40px;
    }
}


@mixin nav-text{
    @include text-base;
    @include text-hover-dark;
    color: $text-color-dark;
    font-size: 25px;
    text-decoration: none;
    @include desktop{
        font-size: 20px;
    }
}
@mixin sub-nav-text{
    @include text-base;
    @include text-hover-light;
    font-size: 20px;
    color: $text-color-dark;
    @include desktop{
        color: $text-color-light;
    }
}




@mixin main-top-title{
    @include text-base;
    color: $text-color-light;
    font-size: 25px;
    line-height: 1.5;
    @include tablet{
        font-size: 30px;
    }
    @include desktop{
        font-size: 40px;
    }
}
@mixin main-top-small{
    @include text-base;
    color: $text-color-light;
    font-size: 15px;
    line-height: 1.5;
    @include tablet{
        font-size: 15px;
    }
    @include desktop{
        font-size: 20px;
    }
}





@mixin article-title{
    @include text-base;
    color: $text-color-light;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 25px;
    @include tablet{
        font-size: 20px;
    }
    @include desktop{
        font-size: 30px;
    }
}
@mixin article-small{
    @include text-base;
    color: $text-color-light;
    font-size: 15px;
    @include tablet{
        font-size: 13px;
    }
    @include desktop{
        font-size: 17px;
    }
}





@mixin main-text-base{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 2;
}





@mixin main-title{
    @include main-text-base;
    font-size: 25px;
    @include desktop{
        font-size: 30px;
    }
}
@mixin main-text{
    @include main-text-base;
    color: $text-color-dark-hover;
    font-size: 15px;
    @include tablet{
        font-size: 18px;
    }
    @include desktop{
        font-size: 20px;
    }
}
