


// colors
$transparent-gray: rgba(18, 47, 61, 0.5);
$thin-transparent-gray: rgba(18, 47, 61, 0.2);
$transparent-white: rgba(255, 255, 255, 0.3);
$dark-gray: rgb(18, 47, 61);
$white-gray:  #ececec;
$dark-white: #aaa;
$pearl: #fbf1ed;
$dark-blue: rgb(18, 47, 61);



$bg-color: $white-gray;



$text-color-light: $bg-color;
$text-color-dark: $dark-gray;



$mobile-max: 481px;
$tablet-max: 769px;
$desktop-max: 1200px;
